version: "3.7"

services:
  app_proxy:
    image: geo-radio:latest # Or your Docker Hub username/geo-radio:latest
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
    environment:
      - DATABASE_PATH=/data/stations.db