version: "3.7"

services:
  app_proxy:
    image: dg78/geo-radio:latest
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
    networks:
      - umbrel

networks:
  umbrel:
    external: true